@import url("icons.css");
/*
/*---------------------------------- */
/*
*	TABLE OF CONTENTS
*  
*	RESET
*
*	PAGE BASICS
*
*	PAGE STYLES(MOBILE FIRST)
*
*	MEDIA QUERIES
*
/*---------------------------------- */
/*
/************************************************************************************
RESET
*************************************************************************************
*/
/* line 17, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*************************
End Reset
**************************
*/
/************************************************************************************
PAGE BASICS
*************************************************************************************/
/* line 5, ../sass/_global.scss */
html {
  /* Sets up the base 10 for em typography 1em=10px*/
  font-size: 62.5%;
  /*force empty scrollbar on short pages so there's no jump to pages with scrollbars*/
  height: 100%;
  overflow-y: scroll;
  /*turn off text zoom in mobile safari landscape*/
  -webkit-text-size-adjust: 100%;
  /*background-color: Aqua;*/
}

/* line 16, ../sass/_global.scss */
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* line 20, ../sass/_global.scss */
img {
  width: 100%;
}

/* line 24, ../sass/_global.scss */
h3 {
  font-size: 2.2em;
  font-weight: bold;
  clear: both;
}

/* line 30, ../sass/_global.scss */
p {
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.5em;
  margin-bottom: .8em;
}

/* line 36, ../sass/_global.scss */
a {
  color: blue;
  text-decoration: none;
  -webkit-transition: color .1s linear;
  -moz-transition: color .1s linear;
  transition: color .1s linear;
}

/************************************************************************************
PAGE STYLES(MOBILE FIRST)
*************************************************************************************/
/* line 47, ../sass/_global.scss */
.wrapper {
  max-width: 960px;
  min-width: 280px;
  margin: 0 auto;
  padding: 0 6% 0% 6%;
}

/* line 54, ../sass/_global.scss */
header {
  width: 100%;
  margin-bottom: 2em;
  padding-top: 2em;
}
/* line 58, ../sass/_global.scss */
header .mainnav ul.mblnav {
  height: 40px;
  margin-top: .6em;
  border: 1px solid blue;
  cursor: pointer;
}
/* line 64, ../sass/_global.scss */
header .mainnav ul.mblnav li a {
  display: block;
  text-align: left;
  color: blue;
  padding: 0px 14px;
  margin-top: 0em;
}
/* line 70, ../sass/_global.scss */
header .mainnav ul.mblnav li a .menu_link {
  display: inline-block;
  padding-top: .62em;
  padding-bottom: 1em;
  font-size: 1.2em;
}
/* line 77, ../sass/_global.scss */
header .mainnav ul.mblnav li a:hover {
  color: blue;
}
/* line 82, ../sass/_global.scss */
header .mainnav ul li {
  height: 40px;
  float: none;
  border-bottom: 1px solid blue;
}
/* line 86, ../sass/_global.scss */
header .mainnav ul li a {
  display: block;
  padding-top: .8em;
  padding-left: 15px;
  font-size: 1.5em;
  color: black;
}
/* line 3, ../sass/_mixins.scss */
header .mainnav ul li a:hover, header .mainnav ul li a:focus {
  color: #bbbbbb;
  -webkit-transition: color .1s linear;
  -moz-transition: color .1s linear;
  transition: color .1s linear;
}
/* line 95, ../sass/_global.scss */
header .mainnav ul li.active {
  background-color: blue;
}
/* line 97, ../sass/_global.scss */
header .mainnav ul li.active a {
  color: white;
}
/* line 3, ../sass/_mixins.scss */
header .mainnav ul li.active a:hover, header .mainnav ul li.active a:focus {
  color: #bbbbbb;
  -webkit-transition: color .1s linear;
  -moz-transition: color .1s linear;
  transition: color .1s linear;
}
/* line 103, ../sass/_global.scss */
header h1 a {
  font-size: 23px;
  font-size: 2.3rem;
  font-weight: 700;
  text-decoration: none;
}
/* line 110, ../sass/_global.scss */
header h2 a {
  font-size: 100px;
  font-size: 10rem;
  font-weight: 700;
  text-decoration: none;
  color: #656565;
}
/* line 117, ../sass/_global.scss */
header .slug {
  display: none;
}
/* line 3, ../sass/_mixins.scss */
header .slug a:hover, header .slug a:focus {
  color: #bbbbbb;
  -webkit-transition: color .1s linear;
  -moz-transition: color .1s linear;
  transition: color .1s linear;
}
/* line 121, ../sass/_global.scss */
header .icon-menu {
  float: right;
  font-size: 1.5em;
  padding-top: .39em;
}
/* line 126, ../sass/_global.scss */
header .title {
  float: none;
}

/* line 131, ../sass/_global.scss */
.mbltoggle {
  display: block;
}

/* line 135, ../sass/_global.scss */
.toggle {
  display: none;
}

/* line 140, ../sass/_global.scss */
.main h3 {
  margin-bottom: .5em;
}

/* line 145, ../sass/_global.scss */
.post {
  font-family: 'Andale Mono', 'Courier New', Courier, monospace;
  margin-bottom: 1.8em;
  border-bottom: 1px solid blue;
  width: 100%;
}
/* line 3, ../sass/_mixins.scss */
.post a:hover, .post a:focus {
  color: #bbbbbb;
  -webkit-transition: color .1s linear;
  -moz-transition: color .1s linear;
  transition: color .1s linear;
}
/* line 151, ../sass/_global.scss */
.post h1 {
  font-size: 18px;
  font-size: 1.8rem;
}
/* line 153, ../sass/_global.scss */
.post h1 a {
  color: black;
  line-height: 1.2em;
  display: inline-block;
  margin-bottom: .3em;
}
/* line 160, ../sass/_global.scss */
.post h2 {
  font-size: 14px;
  font-size: 1.4rem;
  margin-bottom: .7em;
}
/* line 164, ../sass/_global.scss */
.post img {
  display: block;
  margin: 0 0 .8em 0;
}
/* line 168, ../sass/_global.scss */
.post .readmore {
  text-align: right;
}
/* line 172, ../sass/_global.scss */
.post .readmore .more.link span.rtcrt {
  font-size: 1.1em;
  display: inline-block;
}

/* line 178, ../sass/_global.scss */
.loader {
  clear: both;
  display: block;
  margin-bottom: 1.7em;
  margin-top: 2em;
}
/* line 183, ../sass/_global.scss */
.loader a {
  font-family: 'Andale Mono', 'Courier New', Courier, monospace;
  display: block;
  height: 29px;
  padding-top: 11px;
  width: 60%;
  border: 1px solid blue;
  color: blue;
  font-size: 1.5em;
  margin: 0 auto;
  text-align: center;
  font-style: italic;
}

/* line 198, ../sass/_global.scss */
.sidebar {
  width: 100%;
  float: none;
  padding-left: 0;
  margin-bottom: 1.8em;
}
/* line 203, ../sass/_global.scss */
.sidebar h1 {
  font-size: 2.2em;
  font-weight: bold;
  margin-bottom: .3em;
}
/* line 208, ../sass/_global.scss */
.sidebar h2 {
  font-size: 1.7em;
  margin-top: .7em;
  margin-bottom: .3em;
  font-weight: bold;
}
/* line 214, ../sass/_global.scss */
.sidebar h3 {
  margin-bottom: .3em;
  line-height: 1.2em;
}
/* line 219, ../sass/_global.scss */
.sidebar li a {
  font-size: 15px;
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
  line-height: 1.5em;
  margin: .3em 0;
  display: inline-block;
}
/* line 3, ../sass/_mixins.scss */
.sidebar li a:hover, .sidebar li a:focus {
  color: #bbbbbb;
  -webkit-transition: color .1s linear;
  -moz-transition: color .1s linear;
  transition: color .1s linear;
}

/* line 231, ../sass/_global.scss */
footer {
  width: 100%;
  clear: both;
  /*padding-bottom: .7em;*/
  border-top: 1px solid blue;
  overflow: hidden;
}
/* line 237, ../sass/_global.scss */
footer p {
  margin-bottom: 0;
}
/* line 238, ../sass/_global.scss */
footer .toplink {
  width: 40px;
  height: 40px;
  margin-top: .8em;
  float: left;
}
/* line 243, ../sass/_global.scss */
footer .toplink a {
  font-size: 20px;
  font-size: 2rem;
  display: block;
  vertical-align: middle;
  width: 40px;
  height: 32px;
  padding-top: 8px;
  padding-left: 0px;
  color: blue;
  margin-bottom: 0em;
  line-height: 0px;
}
/* line 256, ../sass/_global.scss */
footer .rights {
  font-size: 13px;
  font-size: 1.3rem;
  float: right;
  margin-top: .9em;
}

/* line 263, ../sass/_global.scss */
.blog .loader, .grid .loader {
  display: none;
}

/* line 267, ../sass/_global.scss */
.grid.masonry .loader {
  display: block;
  margin-top: 0;
}

/* line 272, ../sass/_global.scss */
.grid.masonry .post h1 a {
  display: block;
}

/* line 276, ../sass/_global.scss */
.grid .postwrap .post {
  word-wrap: break-word;
}

/* line 281, ../sass/_global.scss */
.grid .main {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

/*.grid .postwrap .post {
  width:100%;
  float:none;
  }*/
/* line 292, ../sass/_global.scss */
.post header.postnav {
  width: 100%;
  min-height: 40px;
  padding-top: 0;
  margin-bottom: 1.4em;
  text-align: center;
  /*background-color: Cornsilk;*/
}
/* line 300, ../sass/_global.scss */
.post header.postnav .prev {
  font-size: 2.7em;
  line-height: 0;
  display: inline-block;
  height: 25px;
  width: 40px;
  padding-top: 15px;
  margin-right: 4px;
  margin-left: -10px;
  float: left;
  /*background-color: Pink;*/
}
/* line 313, ../sass/_global.scss */
.post header.postnav .middle {
  margin: 0 auto;
}
/* line 317, ../sass/_global.scss */
.post header.postnav h1 {
  display: block;
}
/* line 321, ../sass/_global.scss */
.post header.postnav h2 {
  margin-top: .5em;
}
/* line 325, ../sass/_global.scss */
.post header.postnav .next {
  font-size: 2.7em;
  line-height: 0;
  display: inline-block;
  height: 25px;
  width: 40px;
  padding-top: 15px;
  margin-left: 4px;
  margin-right: -10px;
  float: right;
  /*background-color: Pink;*/
}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
@media only screen and (min-width: 481px) {
  /* line 347, ../sass/_global.scss */
  header .slug {
    display: block;
  }

  /* line 352, ../sass/_global.scss */
  .loader a {
    width: 50%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* line 364, ../sass/_global.scss */
  .grid .main h3 {
    margin-left: 1.5%;
    clear: both;
  }

  /* line 369, ../sass/_global.scss */
  .grid .post, .studentwork .post {
    width: 47%;
    float: left;
    padding: 0 1.5%;
    border-bottom: 0;
  }

  /* line 376, ../sass/_global.scss */
  .studentwork {
    overflow: hidden;
  }
  /* line 378, ../sass/_global.scss */
  .studentwork .post p {
    margin-bottom: 0;
  }

  /* line 383, ../sass/_global.scss */
  .grid .postwrap .yeargroup .post:nth-child(2n+1) {
    clear: both;
  }

  /* line 387, ../sass/_global.scss */
  .grid .postwrap .post:nth-child(2n+1) {
    clear: both;
  }

  /* line 391, ../sass/_global.scss */
  .grid .main {
    overflow: hidden;
    border-bottom: 1px solid blue;
    margin-bottom: 1.8em;
  }

  /* line 397, ../sass/_global.scss */
  .grid .main .postwrap {
    overflow: hidden;
  }

  /* line 401, ../sass/_global.scss */
  .grid .postwrap .post {
    margin-bottom: 0;
  }

  /* line 405, ../sass/_global.scss */
  .grid.masonry .main .loader {
    display: block;
  }

  /* line 409, ../sass/_global.scss */
  .grid.masonry .main {
    overflow: hidden;
    border-bottom: 0px;
    margin-bottom: 0em;
  }

  /* line 415, ../sass/_global.scss */
  .grid.masonry .main .postwrap {
    border-bottom: 1px solid blue;
    overflow: hidden;
  }

  /* line 420, ../sass/_global.scss */
  .grid.masonry .loader {
    display: block;
    margin-top: 1.8em;
  }
}
@media only screen and (min-width: 769px) {
  /* line 428, ../sass/_global.scss */
  html {
    /*background-color: Pink;*/
  }

  /* line 432, ../sass/_global.scss */
  p {
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 1.5em;
  }

  /* line 437, ../sass/_global.scss */
  header {
    width: 98%;
    margin-bottom: 3em;
    padding-top: 3em;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 443, ../sass/_global.scss */
  header .title {
    width: 70%;
    float: left;
  }
  /* line 448, ../sass/_global.scss */
  header h1 a {
    font-size: 24px;
    font-size: 2.4rem;
  }
  /* line 453, ../sass/_global.scss */
  header h2 a {
    font-size: 110px;
    font-size: 11rem;
  }
  /* line 457, ../sass/_global.scss */
  header .mainnav ul {
    overflow: hidden;
  }
  /* line 459, ../sass/_global.scss */
  header .mainnav ul li {
    height: 28px;
    border-bottom: 0;
    float: left;
    display: inline-block;
    /*background-color: Lawngreen;*/
  }
  /* line 465, ../sass/_global.scss */
  header .mainnav ul li a {
    height: 0;
    padding: .6em 1.1em 0em 1.1em;
    display: block;
    font-size: 1.3em;
  }
  /* line 472, ../sass/_global.scss */
  header .mainnav ul li.active {
    background-color: blue;
  }
  /* line 474, ../sass/_global.scss */
  header .mainnav ul li.active a {
    color: white;
  }

  /* line 481, ../sass/_global.scss */
  .post header.postnav {
    padding-top: 0;
    margin-bottom: 1.4em;
  }

  /* line 486, ../sass/_global.scss */
  .mainnav {
    clear: both;
    border-bottom: 1px solid blue;
  }

  /* line 491, ../sass/_global.scss */
  .slug {
    width: 29%;
    float: right;
  }

  /* line 495, ../sass/_global.scss */
  .mbltoggle {
    display: none;
  }

  /* line 498, ../sass/_global.scss */
  .toggle {
    display: block;
  }

  /* line 502, ../sass/_global.scss */
  .main {
    width: 66%;
    padding-left: 1%;
    padding-right: 1%;
    float: left;
  }

  /* line 509, ../sass/_global.scss */
  .blog .postwrap .post:last-child {
    border-bottom: 0;
  }

  /* line 513, ../sass/_global.scss */
  .grid .main {
    width: 68%;
    padding-left: 0;
    padding-right: 0;
  }

  /* line 519, ../sass/_global.scss */
  .grid .main h3 {
    margin-left: 1.5%;
  }

  /* line 523, ../sass/_global.scss */
  .grid .post, .studentwork .post {
    width: 30.333%;
    float: left;
    padding: 0 1.5%;
    border-bottom: 0;
  }

  /* line 530, ../sass/_global.scss */
  .studentwork {
    overflow: hidden;
  }
  /* line 532, ../sass/_global.scss */
  .studentwork .post p {
    margin-bottom: 0;
  }

  /* line 537, ../sass/_global.scss */
  .grid .post .readmore {
    margin-bottom: 0;
  }

  /* line 541, ../sass/_global.scss */
  .grid .post:nth-child(3n+1) {
    /*clear:both;*/
  }

  /* line 545, ../sass/_global.scss */
  .loader {
    margin-bottom: 2em;
  }

  /* line 549, ../sass/_global.scss */
  .sidebar {
    width: 27.5%;
    padding-right: 1.5%;
    float: right;
  }
  /* line 553, ../sass/_global.scss */
  .sidebar li a {
    font-size: 13px;
    font-size: 1.3rem;
    margin: .2em 0;
  }

  /* line 558, ../sass/_global.scss */
  footer {
    display: block;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 564, ../sass/_global.scss */
  .ajaxblog footer {
    display: none;
  }

  /* line 568, ../sass/_global.scss */
  .grid.masonry footer {
    display: none;
  }

  /* line 572, ../sass/_global.scss */
  .grid.masonry .main .loader {
    display: block;
    margin-top: 2em;
  }

  /* line 577, ../sass/_global.scss */
  .grid.masonry .postwrap {
    border-bottom: 1px solid blue;
    min-height: 600px;
  }
}
@media only screen and (min-width: 1024px) {
  /* line 585, ../sass/_global.scss */
  html {
    /*background-color: Yellow;*/
  }
}
