/************************************************************************************
PAGE BASICS
*************************************************************************************/

html {
    /* Sets up the base 10 for em typography 1em=10px*/
    font-size: 62.5%;
    /*force empty scrollbar on short pages so there's no jump to pages with scrollbars*/
    height: 100%;
    overflow-y: scroll;
    /*turn off text zoom in mobile safari landscape*/
    -webkit-text-size-adjust: 100%;
    /*background-color: Aqua;*/
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

img {
    width: 100%;
}

h3 {
font-size: 2.2em;
font-weight: bold;
clear: both;
}

p {
    @include font-size(1.5);
    line-height: 1.5em;
    margin-bottom: .8em;
}

a {
    color: $link;
    text-decoration: none;
    -webkit-transition: color .1s linear;
    -moz-transition: color .1s linear;
    transition: color .1s linear;
}

/************************************************************************************
PAGE STYLES(MOBILE FIRST)
*************************************************************************************/
.wrapper {
    max-width: 960px;
    min-width: 280px;
    margin: 0 auto;
    padding: 0 6% 0% 6%;
}

header {
    width: 100%;
    margin-bottom: 2em;
    padding-top: 2em;
    .mainnav ul.mblnav {
        height: 40px;
        margin-top: .6em;
        border: 1px solid blue;
        cursor: pointer;
        li {
            a {
                display: block;
                text-align: left;
                color: blue;
                padding: 0px 14px;
                margin-top: 0em;
                .menu_link {
                    display: inline-block;
                    padding-top: .62em;
                    padding-bottom: 1em;
                    font-size: 1.2em;
                }
            }
            a:hover {
                color: blue;
            }
        }
    }
    .mainnav ul li {
        height: 40px;
        float: none;
        border-bottom: 1px solid blue;
        a {
            display: block;
            padding-top: .8em;
            padding-left: 15px;
            font-size: 1.5em;
            color:black;
        }
        @include hover-style;
    }
    .mainnav ul li.active {
        background-color: blue;
        a {
            color: white;
        }
        @include hover-style;
    }
    h1 {
        a {
            @include font-size(2.3);
            font-weight: 700;
            text-decoration: none;
        }
    }
    h2 {
        a {
            @include font-size(10);
            font-weight: 700;
            text-decoration: none;
            color: $darkgrey;
        }
    }
    .slug {
        display: none;
        @include hover-style;
    }
    .icon-menu {
        float: right;
        font-size: 1.5em;
        padding-top: .39em;
    }
    .title {
        float: none;
    }
}

.mbltoggle {
    display: block;
}

.toggle {
    display: none;
}

.main {
    h3 {
    margin-bottom: .5em;
    }
}

.post {
    font-family: 'Andale Mono', 'Courier New', Courier, monospace;
    margin-bottom: 1.8em;
    border-bottom: 1px solid blue;
    width:100%;
    @include hover-style;
    h1 {
        @include font-size(1.8);
        a {
            color: black;
            line-height: 1.2em;
            display: inline-block;
            margin-bottom: .3em;
        }
    }
    h2 {
        @include font-size(1.4);
        margin-bottom: .7em;
    }
    img {
        display: block;
        margin: 0 0 .8em 0;
    }
    .readmore {
        text-align: right;
    }

    .readmore .more.link span.rtcrt{
        font-size: 1.1em;
        display: inline-block;
        }
}

.loader {
    clear: both;
    display: block;
    margin-bottom: 1.7em;
    margin-top: 2em;
    a {
        font-family: 'Andale Mono', 'Courier New', Courier, monospace;
        display: block;
        height: 29px;
        padding-top: 11px;
        width: 60%;
        border: 1px solid blue;
        color: blue;
        font-size: 1.5em;
        margin: 0 auto;
        text-align: center;
        font-style: italic;
    }
}

.sidebar {
    width: 100%;
    float: none;
    padding-left: 0;
    margin-bottom: 1.8em;
    h1 {
        font-size: 2.2em;
        font-weight: bold;
        margin-bottom: .3em;
    }
    h2 {
        font-size: 1.7em;
        margin-top: .7em;
        margin-bottom: .3em;
        font-weight: bold;
    }
    h3 {
    margin-bottom: .3em;
    line-height: 1.2em;   
    }
    li {
        a {
            @include font-size(1.5);
            text-decoration: none;
            color: black;
            line-height: 1.5em;
            margin: .3em 0;
            display: inline-block;
        }
        @include hover-style;
    }
}

footer {
    width: 100%;
    clear: both;
    /*padding-bottom: .7em;*/
    border-top: 1px solid blue;
    overflow:hidden;
    p{margin-bottom:0;}
    .toplink {
        width:40px;
        height:40px;
        margin-top:.8em;
        float:left;
        a {
            @include font-size(2);
            display: block;
            vertical-align:middle;
            width: 40px;
            height: 32px;
            padding-top: 8px;
            padding-left: 0px;
            color: blue;
            margin-bottom: 0em;
            line-height: 0px;
        }
    }
    .rights {
    @include font-size(1.3);
    float:right;
    margin-top:.9em;
    }
}

.blog .loader, .grid .loader {
    display:none
}

.grid.masonry .loader {
    display:block;
    margin-top:0;
}

.grid.masonry .post h1 a {
    display:block;
}

.grid .postwrap .post {
    word-wrap:break-word;

}

.grid .main {
    width:100%;
    padding-left:0;
    padding-right:0;
}

  /*.grid .postwrap .post {
    width:100%;
    float:none;
    }*/

.post header.postnav {
    width:100%;
    min-height:40px;
    padding-top:0;
    margin-bottom:1.4em;
    text-align:center;
    /*background-color: Cornsilk;*/

    .prev {
        font-size:2.7em;
        line-height:0;
        display:inline-block;
        height:25px;
        width:40px;
        padding-top:15px;
        margin-right: 4px;
        margin-left:-10px;
        float: left;
        /*background-color: Pink;*/
    }
    
    .middle {
        margin:0 auto;
    }
    
    h1 {
        display:block;
    }

    h2 {
        margin-top: .5em;
    }

    .next {
        font-size:2.7em;
        line-height:0;
        display:inline-block;
        height:25px;
        width:40px;
        padding-top:15px;
        margin-left: 4px;
        margin-right:-10px;
        float: right;
        /*background-color: Pink;*/
    }

}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/

@media only screen and (min-width: 481px) {

    header {
        .slug {
            display: block;
        }
    }

    .loader a {
        width:50%;
    }

}

@media only screen and (min-width: 481px) and (max-width: 768px) {
   
  html {

    }

    .grid .main h3 {
        margin-left: 1.5%;
        clear:both;
    }

    .grid .post, .studentwork .post {
        width:47%;
        float:left;
        padding:0 1.5%;
        border-bottom: 0;
    }

    .studentwork {
        overflow:hidden;
        .post p{
            margin-bottom: 0;
        }
    }

    .grid .postwrap .yeargroup .post:nth-child(2n+1){
            clear:both;
    }

    .grid .postwrap .post:nth-child(2n+1){
            clear:both;
    }

    .grid .main {
        overflow:hidden;
        border-bottom:1px solid blue;
        margin-bottom: 1.8em;
    }

    .grid .main .postwrap {
        overflow:hidden;
    }

    .grid .postwrap .post{
        margin-bottom: 0;
    }

    .grid.masonry .main .loader {
        display: block;
    }

    .grid.masonry .main {
        overflow:hidden;
        border-bottom:0px;
        margin-bottom: 0em;
    }

    .grid.masonry .main .postwrap {
        border-bottom: 1px solid blue;
        overflow:hidden;
    }

    .grid.masonry .loader {
    display:block;
    margin-top:1.8em;
}

}

@media only screen and (min-width: 769px) {
    html {
        /*background-color: Pink;*/
    }

    p {
    @include font-size(1.3);
    line-height: 1.5em;
   }

    header {
        width: 98%;
        margin-bottom: 3em;
        padding-top: 3em;
        margin-left: auto;
        margin-right: auto;
        .title {
            width: 70%;
            float: left;
        }
        h1 {
            a {
                @include font-size(2.4);
            }
        }
        h2 {
            a {
                @include font-size(11);
            }
        }
        .mainnav ul {
            overflow: hidden;
            li {
                height: 28px;
                border-bottom: 0;
                float: left;
                display: inline-block;
                /*background-color: Lawngreen;*/
                a {
                    height: 0;
                    padding: .6em 1.1em 0em 1.1em;
                    display: block;
                    font-size: 1.3em;
                }
            }
            li.active {
                background-color: blue;
                a {
                    color: white;
                }
            }
        }
    }

    .post header.postnav {
        padding-top:0;
        margin-bottom:1.4em;
    }

    .mainnav {
        clear: both;
        border-bottom: 1px solid blue;
    }

    .slug {
        width: 29%;
        float: right;
    }
    .mbltoggle {
        display: none;
    }
    .toggle {
        display: block;
    }

    .main {
        width: 66%;
        padding-left: 1%;
        padding-right: 1%;
        float: left;
    }
    
    .blog .postwrap .post:last-child {
        border-bottom: 0;
    }

    .grid .main {
        width:68%;
        padding-left:0;
        padding-right:0;
    }

    .grid .main h3 {
        margin-left: 1.5%;
    }

    .grid .post, .studentwork .post {
    width:30.333%;
    float:left;
    padding:0 1.5%;
    border-bottom: 0;
    }

    .studentwork {
        overflow:hidden;
        .post p{
            margin-bottom: 0;
        }
    }

    .grid .post .readmore {
        margin-bottom: 0;
    }

    .grid .post:nth-child(3n+1) {
    /*clear:both;*/
    }

    .loader {
        margin-bottom: 2em;
    }

    .sidebar {
        width: 27.5%;
        padding-right: 1.5%;
        float: right;
        li a {
            @include font-size(1.3); 
            margin:.2em 0;
        }
    }
    footer {
        display: block;
        width: 98%;
        margin-left: auto;
        margin-right: auto;
    }
    .ajaxblog footer {
        display: none;
    }

    .grid.masonry footer {
        display:none;
    }

    .grid.masonry .main .loader {
        display:block;
        margin-top:2em;
    }

    .grid.masonry .postwrap {
        border-bottom: 1px solid blue;
        min-height:600px;
    }

}

@media only screen and (min-width: 1024px) {
    html {
        /*background-color: Yellow;*/
    }
}