//Site Styles
@mixin hover-style {
    a:hover, a:focus {
        color: $linkhover;
        -webkit-transition: color .1s linear;
        -moz-transition: color .1s linear;
        transition: color .1s linear;
    }
}

//Typography
//Sets up rems with pixel fallback
@mixin font-size($sizeValue: 1.6) {
    font-size: $sizeValue * 10 + px;
    font-size: $sizeValue + rem;
}